.user-pic {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.search-input {
    border: 1px solid black !important;
    border-radius: 5px !important;
}

.user-picture {
    border-radius: 50%;
   width: 50px;
    z-index: 1;
}